[flake8]
max-line-length = 100
exclude = .git,__pycache__,.venv

# Ignored codes:
# - D100–D107: Missing docstrings
# - D205/D400/D401: Formatting of docstrings
# - E501: Line too long
# - F401: Unused imports (e.g., for dev tools)
# - F841: Assigned but unused variable

ignore =
    D100,
    D101,
    D102,
    D103,
    D104,
    D107,
    D205,
    D400,
    D401,
    E501,
    F401,
    F841
