gym
gymnasium
numpy
torch
matplotlib
seaborn
pre-commit
flake8
pyyaml
shap
captum
typer
scikit-learn
pandas
pytest
pytest-cov
coverage
mkdocs
wandb
# Docs dependencies
mkdocs>=1.5
mkdocs-material>=9.5
mkdocstrings[python]
